C:\Users\Thais\OneDrive\Desktop\ATIVIDADE 9\interactive_console_output.xml
C:\Users\Thais\OneDrive\Desktop\ATIVIDADE 9\log.html
C:\Users\Thais\OneDrive\Desktop\ATIVIDADE 9\report.html
C:\Users\Thais\OneDrive\Desktop\ATIVIDADE 9\output.xml
